@import '../../../styles/colors';

.UserPost {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: $box-background-color;
  border: 1px solid $border-color;
  padding: 1rem;
  margin-bottom: 1rem;
  transition: .2s;

  &:hover {
    box-shadow: 0 1rem 2.5rem rgba($shadow-color, 0.2);
  }

  span {
    margin-left: 1rem;
    font-size: 2rem;
  }

  svg {
    color: $color-primary;
    transition: .2s;
    &:hover {
      color: $color-primary-dark;
      cursor: pointer;
    }
  }

  .DisabledLink {
    pointer-events: none;
    svg {
      color: darkred;
    }
  }
}