@import '../../../styles/colors';
@import '../../../styles/mixins';

.Modal {
  position: fixed;
  z-index: 999;
  width: 30%;
  box-shadow: 0 1rem 2.5rem rgba($shadow-color, 0.2);
  left: 35%;
  top: 30%;
  transition: 0.4s;
  @include containerStyle;
}