@import '../../../styles/colors';

.Modal {
  position: fixed;
  z-index: 999;
  width: 30%;
  background-color: $box-background-color;
  border: 1px solid $border-color;
  box-shadow: 0 1rem 2.5rem rgba($shadow-color, 0.2);
  padding: 16px;
  left: 35%;
  top: 30%;
  transition: 0.4s;
}