.Button {
  padding: 1.8rem 3rem;
  font-size: 1.5rem;
  background-color: lightskyblue;
  border: none;
  color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: all .2s;
  margin: 0 auto;

  &:hover {
    background-color: deepskyblue;
  }

  &:disabled {
    background-color: darkred;
    cursor: not-allowed;
  }
}