.PostDetails {
  width: 100%;

  h2 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 2rem;
  }

  p {
    font-size: 1.5rem;
  }
}

.ButtonsContainer {
  margin: 2rem 0;
  width: 100%;
  display: flex;
  justify-content: space-between;

  button {
    margin: 0;
  }
}