@import '../../../../styles/colors';
@import '../../../../styles/mixins';

.User {
  width: 22%;
  margin-bottom: 3rem;
  margin-right: 4%;
  transition: .2s;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  @include containerStyle;

  &:nth-of-type(4n) {
    margin-right: 0;
  }

  a {
    text-decoration: none;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  h2 {
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
  }

  p {
    font-size: 1.7rem;
    margin-bottom: 1rem;
  }

  ul {
    list-style: none;
    margin-bottom: 1rem;
    li {
      margin-bottom: .5rem;
      font-size: 1.4rem;
    }
  }

  @media only screen and (max-width: 900px) {
    width: 35%;
    margin: 0 7% 3rem 7%;
  }

  @media only screen and (max-width: 550px) {
    width: 90%;
    margin: 0 5% 3rem 5%;
  }
}
