.Content {
  max-width: 114rem;
  margin: 8rem auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 2rem;

  @media only screen and (max-width: 550px) {
    flex-direction: column;
    margin: 0 auto;
  }
}