@import '../../styles/colors';

.UserHeader {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 4rem;

  h2 {
    font-size: 2.5rem;
  }

  p {
    display: flex;
    align-items: center;
    color: $color-primary;
    transition: .2s;
    &:hover {
      color: $color-primary-dark;
      cursor: pointer;
      svg {
        color: $color-primary-dark;
      }
    }
  }

  span {
    font-size: 1.5rem;
    margin-left: 1rem;
  }

  svg {
    color: $color-primary;
    transition: .2s;
    &:hover {
      color: $color-primary-dark;
      cursor: pointer;
    }
  }
}