@import '../../../../../styles/colors';
@import '../../../../../styles/mixins';

.Comment {
  width: 100%;
  margin-bottom: 1rem;
  transition: .2s;
  @include containerStyle;

  span {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    font-size: 1.4rem;
  }

  p {
    font-size: 1.2rem;
  }
}